body {
  color: var(--text--color);
}
.my-dash {
  gap: 3%;
  flex-direction: column;
}
header {
  background-image: linear-gradient(to right, #cecef8, #ffc293);
  width: 100%;
  height: auto;
  padding-block: 2%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 200;
  color: #214575;
}

/* Search box,search input field and button */
.search-box {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f96c;
}
.search {
  border: 0.1rem solid black;
  padding: 0.4rem;
  border-radius: 5.9rem;
  width: 90%;
  color: #214575;
  background-color: #f1f1f96c;
}
.city {
  font-size: 3rem;
  font-weight: 550;
  color: #214575;
}
#city-name {
  width: 92%;
  border-radius: 1%;
  padding: 1%;
  border: none;
  text-align: center;
  background-color: #f1f1f96c;
}
#search-button {
  cursor: pointer;
  background: transparent;
  border: none;
}
.city-box {
  flex-direction: row;
  width: 80%;
  gap: 3%;
  justify-content: center;
  flex-wrap: wrap;
}

.current {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f96c;
  color: #214575;
}
.temp {
  font-weight: 500;
  font-size: 2.4rem;
}

.five-temp {
  font-weight: 500;
  font-size: 1.6rem;
}
.speed {
  font-weight: 500;
}
.humidity {
  font-weight: 500;
}
.icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.date {
  padding: 3%;
  align-self: end;
}
.uv-index {
  font-weight: 500;
  border-top: 0.4rem solid red;
  border-bottom: 0.4rem solid #49e147;
  border-left: 0.4rem solid rgb(255, 213, 0);
  border-right: 0.4rem solid rgb(133, 35, 99);

  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  text-align: center;
  border-radius: 50%;
}

.good-uv {
  border-top: 0.4rem solid #76c974;
  border-bottom: 0.4rem solid #569a55;
  border-left: 0.4rem solid #49e147;
  border-right: 0.4rem solid rgb(0, 255, 145);
}

.fair-uv {
  border-top: 0.4rem solid #ffd500da;
  border-bottom: 0.4rem solid #ffd500;
  border-left: 0.4rem solid #ffd500;
  border-right: 0.4rem solid #ffd500;
}

.bad-uv {
  border-top: 0.4rem solid #b61e1e;
  border-bottom: 0.4rem solid #ff0000;
  border-left: 0.4rem solid #d87979;
  border-right: 0.4rem solid #e03030;
}
.harmful-uv {
  border-top: 0.4rem solid #663593;
  border-bottom: 0.4rem solid #7e5688;
  border-left: 0.4rem solid #8b419e;
  border-right: 0.4rem solid #35213a;
}

.five-day-box {
  flex-direction: row;
  gap: 1%;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1%;
}
.five-day {
  width: 20%;
  height: 45vh;
  padding-block: 5%;
  padding-inline: 2%;
  border: none;
  border-radius: 1rem;
  text-align: center;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4e5d980;
  color: #214575;
}

.lastCityNames {
  background: transparent;
  padding-inline: 3%;
  border-radius: 1rem;
}

.dateOf {
  font-weight: 600;
  font-size: 0.8rem;
}

/* for screen sizes 768 and above */
@media (min-width: 768px) {
  .my-dash {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .search-box {
    width: 25%;
    justify-content: flex-start;
  }
  #city-name {
    width: 78%;
  }
  .city {
    font-size: 2rem;
  }
  .weather-dashboard {
    width: 75%;
  }
}
