:root {
  --main--color: #b63d42;
  --twin--color: #db8b56;
  --neu--color: #fad02c;
  --cool--color: #8db4ad;
  --accent--color: #026c80;
  --text--color: #064c72;
  --blend: #49e147;
}

body {
  color: var(--text--color);
}
header {
  background-image: linear-gradient(to right, #cecef8, #ffc293);
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 5%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
/* Search box,search input field and button */
.search-box {
  text-align: center;
  align-items: center;
}
.search {
  border: 0.1rem solid black;
  padding: 0.7rem;
  border-radius: 5.9rem;
  width: 90%;
}
.city {
  font-size: 3rem;
  font-weight: 550;
}
#city-name {
  width: 92%;
  border-radius: 1%;
  padding: 1%;
  border: none;
  text-align: center;
}
#search-button {
  cursor: pointer;
  background: transparent;
  border: none;
}
.city-box {
  flex-direction: row;
  width: 80%;
  gap: 3%;
  justify-content: center;
  flex-wrap: wrap;
}

.current {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.temp {
  font-weight: 500;
  font-size: 2.4rem;
}
.speed {
  font-weight: 500;
}
.humidity {
  font-weight: 500;
}
.icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.date {
  padding: 3%;
  align-self: end;
}
.uv-index {
  font-weight: 500;
  border-top: 0.4rem solid red;
  border-bottom: 0.4rem solid #49e147;
  border-left: 0.4rem solid rgb(255, 213, 0);
  border-right: 0.4rem solid rgb(0, 255, 145);

  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  text-align: center;
  border-radius: 50%;
}
.good-uv {
  border-top: 0.4rem solid #49e147;
  border-bottom: 0.4rem solid #49e147;
  border-left: 0.4rem solid #49e147;
  border-right: 0.4rem solid rgb(0, 255, 145);
}

.fair-uv {
  border-top: 0.4rem solid #ffd500;
  border-bottom: 0.4rem solid #ffd500;
  border-left: 0.4rem solid #ffd500;
  border-right: 0.4rem solid #ffd500;
}

.bad-uv {
  border-top: 0.4rem solid #ff0000;
  border-bottom: 0.4rem solid #ff0000;
  border-left: 0.4rem solid #ff0000;
  border-right: 0.4rem solid #ff0000;
}
.harmful-uv {
  border-top: 0.4rem solid #7e5688;
  border-bottom: 0.4rem solid #7e5688;
  border-left: 0.4rem solid #7e5688;
  border-right: 0.4rem solid #7e5688;
}

.five-day-box {
  flex-direction: row;
  gap: 1%;
}
.five-day {
  width: 25%;
  height: 35vh;
  padding-block: 5%;
  padding: 1%;
  border: 0.1rem solid #a8a1a1;
  text-align: center;
  display: flex;
  gap: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lastCityNames {
  background: transparent;
  padding-inline: 3%;
  border-radius: 1rem;
}

.dateOf {
  font-weight: 600;
  font-size: 0.8rem;
}
